<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="toTop" content="true">
    <link href="/static/css/base.css" rel="stylesheet" type="text/css" />
    <!--bootstrap框架↓-->
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <!--本页面CSS↓-->
    <link rel="stylesheet" href="/static/css/swiper.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!--bootstrap框架↓-->
    <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tabslet.min.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.4&key=8e2c24150d9743810be9ae4fa2461da5"></script>
</head>
<body>
<!--头部开始-->
<div class="upppp">
	
</div>
<div class="Header">
    <dl class="Login_topdl">
        <dt style="margin-top:9px;"><img src="../../../static/images/logo.png" style="width:111px;height:43px;"></dt>
        <dd class="nav" style="padding-left:20px;"><a href="/mcbn/services/dispense/approveSuccess" style="color: #E80D22;border-bottom: 2px solid #E80D22;">首页</a><a href="/mcbn/services/resume/pushResume">招聘</a><a href="/mcbn/services/publicgood/query">公益</a><a href="/mcbn/services/train/train">培训</a><a href="/mcbn/services/policy/policy">政策</a><a href="">APP</a></dd>
    </dl>
</div>
<!--头部end-->
<div class="w1200">
    <div class="main_fff mar_box">
        <!--left-->
        <div class="w785 left">
            <div class="in_top">
                <p>中青数</p>
                <h1><b id="score">0</b>分</h1>
                <span class="liu_touch"><a href=""><img src="/static/images/icon_question.png" />评分规则</a>
			<div class="liu_box" style="">
				<strong>评分规则</strong>
				<div>
					<p>1. 发布职位：体现您的招聘行为活跃度，可提高您的中青数</p>
					<p>2. 下载简历：体现您的招聘行为活跃度，可提高您的中青数</p>
					<p>3. 公益捐助：体现您的爱心行为，可提高您的中青数</p>
					<p>4. 培训报名：体现您提升知识和技能的意愿，可提高您的中青数</p>
					   
				</div>
			</div>
			</span>
            </div>
            <div class="in_cen">
                <div class="in_tit">日常任务</div>
                <ul style="border: 1px solid #EFEFEF;">
                    <li><a href="/mcbn/services/dispense/releasePosition"><b style="margin-top: 30px;"><img src="/static/images/arrow.png" /></b><img src="/static/images/icon_edit.png" />发布职位</a></li>
                    <li><a href="/mcbn/services/dispense/positionManagement"><b style="margin-top: 30px;"><img src="/static/images/arrow.png" /></b><img src="/static/images/icon_zhiwei.png" />职位管理</a></li>
                    <li><a href="/mcbn/services/dispense/resumeManagement"><b style="margin-top: 30px;"><img src="/static/images/arrow.png" /></b><img src="/static/images/icon_toudi.png" />简历管理</a></li>
                    <!--<li><a href="/mcbn/services/publicgood/helpRecord"><b style="margin-top: 30px;"><img src="/static/images/arrow.png" /></b><img src="/static/images/icon_juanzhu.png" />捐助记录</a></li>-->
                    <li><a href="/mcbn/services/dispense/registrationRecord"><b style="margin-top: 30px;"><img src="/static/images/arrow.png" /></b><img src="/static/images/icon_baoming.png" />报名记录</a></li>
                    <li><a href="/mcbn/services/dispense/interView"><b style="margin-top: 30px;"><img src="/static/images/arrow.png" /></b><img src="/static/images/icon_video.png" />视频面试</a></li>
                </ul>
            </div>
        </div>
        <!--right-->
        <div class="w329 right">
            <div class="inP_tx"><a href="/mcbn/services/dispense/companyInfoModeify"><img id="logoImg" src="/static/images/image_user.png" /></a></div>
            <h1 class="inP_name" id="nickName">天软时代</h1>
            <p class="inP_p" id="companyInfo"><a href="/mcbn/services/dispense/companyInfoModeify">请完善企业信息<img src="/static/images/arrow.png" /></a></p>
            <ul class="inR_ul">
                <li><a href="/mcbn/services/publicgood/query"><img src="/static/images/image_gongyi .png" /></a></li>
                <li><a href="/mcbn/services/train/train"><img src="/static/images/image_peixun.png" /></a></li>
                <li><a href="/mcbn/services/policy/policy"><img src="/static/images/image_zhengce.png" /></a></li>
            </ul>
        </div>

    </div>
</div>
<div class="modal fade" id="map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 5px;width: 98%;">
        <div id="container" tabindex="0" style="height: 70%;margin-top: 100px;"></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="postAddress">确定
            </button>
        </div>
    </div>
</div>
<!--尾部开始-->
<div class="footer">
<jsp:include page="footerpage.jsp"></jsp:include>
</div>
<script>

    function showMap(){
        $('#map').modal('show');
    }

    $(document).ready(function() {
    	
   		 $(".upppp").prepend(toppage.html);
   		 console.log($("body"))
        var data = {};
        data.id = "${userId}";
        ajax("/mcbn/services/user/detail", data, function (result) {
            var userinfo = result.datas[0];
            var resultCode = result.resultCode;
            if (resultCode=="1" && userinfo != null) {
                $.cookie('userName', userinfo.name, { path: '/', expires: 100 });
                $("#lusername").html(userinfo.name+"<b></b>");
            }
        })

        var companydata = {};
        companydata.id = "${companyId}";
        companydata.userId = "${userId}";
        ajax("/mcbn/services/user/getIndexMessage", companydata, function (result) {
            var indexdata = result.datas[0];
            var resultCode = result.resultCode;
            if (resultCode=="1" && indexdata != null) {
                if(indexdata.logo) {
                    $("#logoImg").attr("src", "/images/"+indexdata.logo);
                }

                $("#nickName").html(indexdata.name);
                $("#score").html(indexdata.score);
                var infoComplete = indexdata.flag;
                if(infoComplete == "1"){
                    $("#companyInfo")[0].outerHTML = "<p class=\"inP_p2\">" + indexdata.updatedCompanyInfo.companyPropertyName + " | " + indexdata.updatedCompanyInfo.workIndustryName + " | " + indexdata.updatedCompanyInfo.companyScaleName + "</p>\n" +
                        "\t\t<p class=\"inP_add\" onclick='showMap()'>" + indexdata.updatedCompanyInfo.addressDetail + "</p>";
                    map = new AMap.Map('container',{
                        resizeEnable: true,
                        zoom: 15,
                        center: [116.480983, 40.0958]
                    });
                    var marker = new AMap.Marker({
                        position: [indexdata.updatedCompanyInfo.lon, indexdata.updatedCompanyInfo.lat],
                        title: indexdata.updatedCompanyInfo.addressDetail,
                        map: map
                    });
                    marker.setMap(map);
                    map.setCenter([indexdata.updatedCompanyInfo.lon, indexdata.updatedCompanyInfo.lat]);

                }
            }
        })

    })

</script>
<!--尾部end-->
</body>
</html>