<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="toTop" content="true">
<link href="css/base.css" rel="stylesheet" type="text/css" />
<!--bootstrap框架↓-->
<link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<!--本页面CSS↓-->
<link rel="stylesheet" href="css/swiper.css">
<link rel="stylesheet" href="css/style.css">
<!--bootstrap框架↓-->
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.tabslet.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<!--头部开始-->
<div class="top_bg">
	   <div id="site-nav">
			<ul class="quick-menu">
				<li><a href="">消息</a><i>10</i>|</li>
			  <li><a href="">发布职位</a>|</li>
			  <li><a href="">简历管理</a>|</li>
			  <li><a href="">职位管理</a>|</li>
			  <li class="menu-item">
				  <div class=menu>
					  <a class=menu-hd href="#" >赛诺派<b></b></a> 
					  <div class=menu-bd>
						  <a href="#">认证信息</a>
						  <a href="#">个人信息</a>
						  <a href="#">企业信息</a>
						  <a href="#">账号设置</a>
						  <a href="#">退出登录</a>
					  </div>
				  </div>
			  </li>
		    </ul>
		</div>
<SCRIPT type=text/javascript>
	TB.Header.init();
</SCRIPT>
</div>
<div class="Header">
    <dl class="Login_topdl">
		<dt>就业平台</dt>
        <dd class="nav"><a href="/services/dispense/approveSuccess">首页</a><a href="">招聘</a><a href="/services/publicgood/query">公益</a><a href="/services/train/train">培训</a><a href="">政策</a><a href="">APP</a></dd>
	</dl>
</div>
<!--头部end-->
<div class="w1200">
<div class="main_fff mar_box">
    <dl class="Login_tit">
		<dt>账号设置</dt>
	</dl>
    
    <div class="person04_box">
    	<div class="person_list">
        	<div class="person_list_name">
            	用户名：
            </div>
            <div class="person_list_box">
            	<div class="person_gerena">
                	<span>赛诺派</span>
                    <a href="#" class="open_tca">修改</a>
                </div>
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	绑定手机号：
            </div>
            <div class="person_list_box">
            	<div class="person_gerena">
                	<span>138****6128</span>
                    <a href="#" class="open_tcb">修改</a>
                </div>
            </div>
        </div>
        
		<div class="person_list">
        	<div class="person_list_name">
            	绑定邮箱：
            </div>
            <div class="person_list_box">
            	<div class="person_gerena">
                	<span>mcbn100@qq.com</span>
                    <a href="#" class="open_tcc">修改</a>
                </div>
            </div>
        </div>
		
        <div class="person_list">
        	<div class="person_list_name">
            	登录密码：
            </div>
            <div class="person_list_box">
            	<div class="person_gerena">
                	<span>*********</span>
                    <a href="#" class="open_tcd">修改</a>
                </div>
            </div>
        </div>
        
        
    </div>
	
	
</div>
</div>	
<!--尾部开始-->
<div class="footer">

</div>
<!--尾部end-->
<div class="tc_box">
	<div class="tc_box_con" style="height:280px;">
    	<div class="close_tc">
    		<img src="images/Group 2.png"/>
    	</div>
    	<div class="tc_box_contitle" style="margin-bottom: 20px;">
        	退出登录
        </div>
		<div class="tc_p">确定要退出登录吗？</div>
		<button class="tc_btn" id="buttonRegister">完成</button>
    </div>
</div>

<div class="tc_box2">
	<div class="tc_box_con">
    	<div class="close_tc">
    		<img src="images/Group 2.png"/>
    	</div>
    	<div class="tc_box_contitle">
        	修改手机号
        </div>
        <div class="tc_box_tablelist">
        	<div class="tc_box_tablelistname">
            	新手机号：
            </div>
            <div class="tc_box_tablelistinput">
            	<input class="tc_ipnuts"/>
            </div>
        </div>
        <div class="tc_box_tablelist">
        	<div class="tc_box_tablelistname">
            	验证码：
            </div>
            <div class="tc_box_tablelistinput">
            	<input class="tc_ipnutsa" id="inputPhoneVerifyCode"/>
                <button id="buttonGetPhoneVerifyCode" class="code_input">获取验证码</button>
            </div>
        </div>
		<button class="tc_btn" id="buttonRegister">完成</button>
    </div>
</div>
	
<div class="tc_box3">
	<div class="tc_box_con">
    	<div class="close_tc">
    		<img src="images/Group 2.png"/>
    	</div>
    	<div class="tc_box_contitle">
        	修改邮箱
        </div>
        <div class="tc_box_tablelist">
        	<div class="tc_box_tablelistname">
            	新邮箱：
            </div>
            <div class="tc_box_tablelistinput">
            	<input class="tc_ipnuts"/>
            </div>
        </div>
        <div class="tc_box_tablelist">
        	<div class="tc_box_tablelistname">
            	验证码：
            </div>
            <div class="tc_box_tablelistinput">
            	<input class="tc_ipnutsa" id="inputPhoneVerifyCode"/>
                <button id="buttonGetPhoneVerifyCode" class="code_input">获取验证码</button>
            </div>
        </div>
		<button class="tc_btn" id="buttonRegister">完成</button>
    </div>
</div>

<div class="tc_box4">
	<div class="tc_box_con3">
    	<div class="close_tc">
    		<img src="images/Group 2.png"/>
    	</div>
    	<div class="tc_box_contitle">
        	修改登录密码
        </div>
        <div class="tc_box_tablelist">
        	<div class="tc_box_tablelistname">
            	原密码：
            </div>
            <div class="tc_box_tablelistinput">
            	<input class="tc_ipnuts"/>
            </div>
        </div>
        <div class="tc_box_tablelist">
        	<div class="tc_box_tablelistname">
            	新密码：
            </div>
            <div class="tc_box_tablelistinput">
            	<input class="tc_ipnuts"/>
            </div>
        </div>
        <div class="tc_box_tablelists">
        	<div class="tc_box_tablelistname">
            	&nbsp;
            </div>
            <div class="tc_box_tablelistinputsa">
            	字母数字混合，8位以上20位以下
            </div>
        </div>
        
        
        <div class="tc_box_tablelist">
        	<div class="tc_box_tablelistname">
            	确认密码：
            </div>
            <div class="tc_box_tablelistinput">
            	<input class="tc_ipnuts"/>
            </div>
        </div>
        <div class="tc_box_tablelists">
        	<div class="tc_box_tablelistname">
            	&nbsp;
            </div>
            <div class="tc_box_tablelistinputsa">
            	字母数字混合，8位以上20位以下
            </div>
        </div>
		<button class="tc_btn" style="margin-top:30px;" id="buttonRegister">完成</button>
    </div>
</div>
<script>
	$('.open_tca').click(function(){
		$('.tc_box').show();
		});
	$('.close_tc,.tc_btn').click(function(){
		$('.tc_box').hide();
		});
		
	$('.open_tcb').click(function(){
		$('.tc_box2').show();
		});
	$('.close_tc,.tc_btn').click(function(){
		$('.tc_box2').hide();
		});
	$('.open_tcc').click(function(){
		$('.tc_box3').show();
		});
	$('.close_tc,.tc_btn').click(function(){
		$('.tc_box3').hide();
		});
	$('.open_tcd').click(function(){
		$('.tc_box4').show();
		});
	$('.close_td,.tc_btn').click(function(){
		$('.tc_box4').hide();
		});
</script>
</body>
</html>