<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="toTop" content="true">
<link href="css/base.css" rel="stylesheet" type="text/css" />
<!--bootstrap框架↓-->
<link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<!--本页面CSS↓-->
<link rel="stylesheet" href="css/swiper.css">
<link rel="stylesheet" href="css/style.css">
<!--bootstrap框架↓-->
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.tabslet.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<!--头部开始-->
<div class="top_bg">
	   <div id="site-nav">
			<ul class="quick-menu">
				<li><a href="">消息</a><i>10</i>|</li>
			  <li><a href="">发布职位</a>|</li>
			  <li><a href="">简历管理</a>|</li>
			  <li><a href="">职位管理</a>|</li>
			  <li class="menu-item">
				  <div class=menu>
					  <a class=menu-hd href="#" >赛诺派<b></b></a> 
					  <div class=menu-bd>
						  <a href="#">认证信息</a>
						  <a href="#">个人信息</a>
						  <a href="#">企业信息</a>
						  <a href="#">账号设置</a>
						  <a href="#">退出登录</a>
					  </div>
				  </div>
			  </li>
		    </ul>
		</div>
<SCRIPT type=text/javascript>
	TB.Header.init();
</SCRIPT>
</div>
<div class="Header">
    <dl class="Login_topdl">
		<dt>就业平台</dt>
        <dd class="nav"><a href="/services/dispense/approveSuccess">首页</a><a href="">招聘</a><a href="/services/publicgood/query">公益</a><a href="/services/train/train">培训</a><a href="">政策</a><a href="">APP</a></dd>
	</dl>
</div>
<!--头部end-->
<div class="w1200">
<div class="main_fff mar_box">
    <dl class="Login_tit">
		<dt>认证信息</dt>
	</dl>
    <div class="person_box">
    	<div class="person_list">
        	<div class="person_list_name">
            	企业名称：
            </div>
            <div class="person_list_box">
            	赛诺派（天津）网络技术有限公司
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	企业统一社会信用代码：
            </div>
            <div class="person_list_box">
            	32546w4ty
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	企业类型：
            </div>
            <div class="person_list_box">
            	民营
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	企业所在地：
            </div>
            <div class="person_list_box">
            	天津
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	法定代表人：
            </div>
            <div class="person_list_box">
            	张三
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	注册资本：
            </div>
            <div class="person_list_box">
            	200万
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	成立日期：
            </div>
            <div class="person_list_box">
            	2017.09.20
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	营业期限：
            </div>
            <div class="person_list_box">
            	2017.09.20-2027.09.20
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	经营范围：
            </div>
            <div class="person_list_box">
            	XXXXXXXXX
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	营业执照：
            </div>
            <div class="person_list_box">
            	<img src="images/image_zhizhao1.png"/>
            </div>
        </div>
        
    </div>
	
	
</div>
</div>	
<!--尾部开始-->
<div class="footer">

</div>
<!--尾部end-->
</body>
</html>