<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="toTop" content="true">
<link href="css/base.css" rel="stylesheet" type="text/css" />
<!--bootstrap框架↓-->
<link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<!--本页面CSS↓-->
<link rel="stylesheet" href="css/swiper.css">
<link rel="stylesheet" href="css/style.css">
<!--bootstrap框架↓-->
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.tabslet.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<!--头部开始-->
<div class="Header">
    <dl class="Login_topdl">
		<dt>就业平台</dt>
		<dd><a href="">我是求职者</a> | <a href="">APP</a></dd>
	</dl>
</div>
<!--头部end-->
<div class="w1200">
<div class="main_fff mar_box">
    <dl class="Login_tit">
		<dt>认证信息</dt>
	</dl>
    <div class="person_box">
    	<div class="person_list">
        	<div class="person_list_name">
            	企业名称：
            </div>
            <div class="person_list_box">
            	赛诺派（天津）网络技术有限公司
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	企业统一社会信用代码：
            </div>
            <div class="person_list_box">
            	123425671
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	企业类型：
            </div>
            <div class="person_list_box">
            	<select class="person_list_selects">
            	  <option value="有限责任公司">有限责任公司</option>
            	</select>
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	企业所在地：
            </div>
            <div class="person_list_box">
            	<select class="person_list_selects" style="width:80px;">
				<option value="天津市">天津市</option>
				</select>
                <select class="person_list_selects" style="width:80px;">
				<option value="天津市">天津市</option>
				</select>
				<input class="person_list_selects" style="width:340px;" value="华苑产业园区开华道10号智慧山南塔1804"/>
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	法定代表人：
            </div>
            <input class="person_list_selects" value="张三"/>
        </div>
        
        
        <div class="person_list">
        	<div class="person_list_name">
            	注册资本：
            </div>
            <input class="person_list_selects" value="200万"/>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	成立日期：
            </div>
            <div class="person_list_box">
            	<select class="person_list_selects">
				<option value="2017.09.20">2017.09.20</option>
				</select>
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	营业期限：
            </div>
            <div class="person_list_box">
				                <label class="yy_check">
									<input type="radio" class="yy_danx">
									<span></span>
								</label>
            	<select class="person_list_selects" style="width:160px;float:left;margin-right:5px;">
				<option value="2017.09.20">2017.09.20</option>
				</select>至
				<select class="person_list_selects" style="width:160px;float:left;margin-right:5px;">
				<option value="2017.09.20">2017.09.20</option>
				</select>
				             <label class="yy_check">
									<input type="radio" class="yy_danx">
									<span></span>
								</label>长期
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	经营范围：
            </div>
            <div class="person_list_box">
            	<textarea class="person_list_texteara">XXXXXXXXXXXXXXX</textarea>
            </div>
        </div>
        
        
        
        <div class="person_list">
        	<div class="person_list_name">
            	&nbsp;
            </div>
            <div class="person_list_box">
            	<button class="person_list_btn">提交审核</button>
            </div>
        </div>
        
        
    </div>
	
	
</div>
</div>	
<!--尾部开始-->
<div class="footer">

</div>
<!--尾部end-->
</body>
</html>