<!DOCTYPE html>
<html manifest="" lang="ch">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>index</title>
<meta charset="utf-8">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="pragram" content="no-cache">
<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
<link href="css/base.css" rel="stylesheet" type="text/css" />
<!--bootstrap框架↓-->
<link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<!--本页面CSS↓-->
<link rel="stylesheet" href="css/swiper.css">
<link rel="stylesheet" href="css/style.css">
<!--bootstrap框架↓-->
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.tabslet.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<!--头部开始-->
<div class="shouj_head"><a href=""><img src="images/fh.png" /></a>公益详情</div>
<!--头部end-->
<div class="shouj_ban"><img src="images/tp.png" /></div>
<ul class="shouj_shjul">
	<li><span>1776</span>捐助金额(元)</li>
	<li><span>1776</span>爱心(份)</li>
</ul>
<div class="main_fff" style="margin-bottom:0;">
    <div class="shouj_gongy_jmz">最近捐助者：<img src="images/image_user.png" /><img src="images/image_user.png" /><img src="images/image_user.png" /><img src="images/image_user.png" /></div>
<dl class="shouj_gongy_xxtop">
	<dd>
	<h1>给留守儿童送生活包</h1>
	<span><b>12人浏览</b>结束时间：2017.09.12</span>
	</dd>
</dl>
	<div class="shouj_gongy_xxbox">
	为因贫困、自然灾害、突发事件受影响的儿童提供生活及学习用品为因贫困、自然灾害、突发事件受影响的儿童提供生活及学习用品为因贫困、自然灾害、突发事件受影响的儿童提供生活及学习用品为因贫困、自然灾害、突发事件受影响的儿童提供生活及学习用品为因贫困、自然灾害、突发事件受影响的儿童提供生活及学习用品为因贫困、自然灾害、突发事件受影响的儿童提供生活及学习用品<br>
<img src="images/tp2.png" width="444" height="248" alt=""/> 
		为因贫困、自然灾害、突发事件受影响的儿童提供生活及学习用品为因贫困、自然灾害、突发事件受影响的儿童提供生活及学习用品为因贫困、自然灾害、突发事件受影响的儿童提供生活及学习用品为因贫困、自然灾害、突发事件受影响的儿童提供生活及学习用品为因贫困、自然灾害、突发事件受影响的儿童提供生活及学习用品为因贫困、自然灾害、突发事件受影响的儿童提供生活及学习用品
	</div>
	<div class="shouj_gongy_botbt"><span>捐助奖励</span></div>
	<ul class="shouj_gongy_botul">
		<li><a href=""><img src="images/tp.png" /></a><span>奖状</span>捐助金额：0-99元</li>
		<li><a href=""><img src="images/tp.png" /></a><span>奖牌</span>捐助金额：100-999元</li>
		<li><a href=""><img src="images/tp.png" /></a><span>奖励</span>捐助金额：1000及以上</li>
	</ul>
	
</div>	
<!--尾部开始-->
<div class="shouj_fotbtn">
	<a href="">已结束</a>
</div>
<!--尾部end-->
</body>
</html>