<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="toTop" content="true">
<link href="css/base.css" rel="stylesheet" type="text/css" />
<!--bootstrap框架↓-->
<link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<!--本页面CSS↓-->
<link rel="stylesheet" href="css/swiper.css">
<link rel="stylesheet" href="css/style.css">
<!--bootstrap框架↓-->
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.tabslet.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<!--头部开始-->
<div class="top_bg">
	   <div id="site-nav">
			<ul class="quick-menu">
				<li><a href="">消息</a><i>10</i>|</li>
			  <li><a href="">发布职位</a>|</li>
			  <li><a href="">简历管理</a>|</li>
			  <li><a href="">职位管理</a>|</li>
			  <li class="menu-item">
				  <div class=menu>
					  <a class=menu-hd href="#" >赛诺派<b></b></a> 
					  <div class=menu-bd>
						  <a href="#">认证信息</a>
						  <a href="#">个人信息</a>
						  <a href="#">企业信息</a>
						  <a href="#">账号设置</a>
						  <a href="#">退出登录</a>
					  </div>
				  </div>
			  </li>
		    </ul>
		</div>
<SCRIPT type=text/javascript>
	TB.Header.init();
</SCRIPT>
</div>
<div class="Header">
    <dl class="Login_topdl">
		<dt>就业平台</dt>
        <dd class="nav"><a href="${mcprefix}/services/dispense/approveSuccess">首页</a><a href="">招聘</a><a href="${mcprefix}/services/publicgood/query">公益</a><a href="${mcprefix}/services/train/train">培训</a><a href="${mcprefix}/services/policy/policy">政策</a><a href="">APP</a></dd>
	</dl>
</div>
<!--头部end-->
<div class="w1200">
<div class="main_fff mar_box">
    <dl class="Login_tit">
		<dt>企业信息</dt>
	</dl>
	<div class="fbtit_bt">发布职位前，请先完善企业信息。</div>
    <div class="person_box">
    	<div class="person_lista">
        	<div class="person_lista_name">
            	公司logo：
            </div>
            <div class="person_lista_box">
            	<div class="gongsilogo_box"><img src="images/image_user.png"/></div>
				<span class="touxiang_textabtn"><a href="" id="buttonGotoImageUpload">上传logo</a></span><span class="touxiang_textb">选填，图片小于500KB，格式为jpg/png/gif</span>
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	所在地：
            </div>
            <div class="person_list_box">
            	<select class="person_list_select" id="selectCompanyLocation"><option></option></select>
                <select class="person_list_select" style="margin-left: 15px;"><option></option></select>
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	详细地址：
            </div>
            <div class="person_list_box">
            	<input class="person_list_inputs"/><span><img src="images/icon_location.png"/></span>
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	行业领域：
            </div>
            <div class="person_list_box">
            	<select class="person_list_selects"><option></option></select>
                <select class="person_list_selects"><option></option></select>
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	公司规模：
            </div>
            <div class="person_list_box">
            	<select class="person_list_selects"><option></option></select>
            </div>
        </div>
        
        
        <div class="person_list">
        	<div class="person_list_name">
            	公司性质：
            </div>
            <div class="person_list_box">
            	<select class="person_list_selects"><option></option></select>
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	公司网址：
            </div>
            <div class="person_list_box">
            	<input class="person_list_selects"/><span class="person_list_selecta">选填</span>
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	公司环境：
            </div>
            <div class="person_list_box">
            	<div class="person_shangchuanbox"></div>
                <span class="person_shangchuantext">选填，最多上传5张图片，图片小于500KB， 格式为jpg/png/gif</span>
            </div>
        </div>
        
        <div class="person_list">
        	<div class="person_list_name">
            	公司简介：
            </div>
            <div class="person_list_box">
            	<textarea class="person_list_texteara"></textarea>
            </div>
        </div>
        
        
        
        <button class="person_list_btn">完成</button>
        
        
    </div>
	
	
</div>
</div>	
<!--尾部开始-->
<div class="footer">

</div>
<!--尾部end-->
</body>
</html>