<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="toTop" content="true">
<link href="css/base.css" rel="stylesheet" type="text/css" />
<!--bootstrap框架↓-->
<link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<!--本页面CSS↓-->
<link rel="stylesheet" href="css/swiper.css">
<link rel="stylesheet" href="css/style.css">
<!--bootstrap框架↓-->
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.tabslet.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<!--头部开始-->
<div class="top_bg">
	   <div id="site-nav">
			<ul class="quick-menu">
				<li><a href="">消息</a><i>10</i>|</li>
			  <li><a href="">发布职位</a>|</li>
			  <li><a href="">简历管理</a>|</li>
			  <li><a href="">职位管理</a>|</li>
			  <li class="menu-item">
				  <div class=menu>
					  <a class=menu-hd href="#" >赛诺派<b></b></a> 
					  <div class=menu-bd>
						 <a href="#">认证信息</a>
						 <a href="#">个人信息</a>
						  <a href="#">企业信息</a>
						  <a href="#">账号设置</a>
						  <a href="#">退出登录</a>
					  </div>
				  </div>
			  </li>
		    </ul>
		</div>
<SCRIPT type=text/javascript>
	TB.Header.init();
</SCRIPT>
</div>
<div class="Header">
    <dl class="Login_topdl">
		<dt>就业平台</dt>
        <dd class="nav"><a href="${mcprefix}/services/dispense/approveSuccess">首页</a><a href="">招聘</a><a href="${mcprefix}/services/publicgood/query">公益</a><a href="${mcprefix}/services/train/train">培训</a><a href="${mcprefix}/services/policy/policy">政策</a><a href="">APP</a></dd>
	</dl>
</div>
<!--头部end-->
<div class="w1200">
<div class="main_fff">
	<dl class="Login_tit">
		<dt>报名记录</dt>
	</dl>
	
						<div class="gongy_list">
							<span class="gongy_tp"><a href=""><img src="images/tp.png" /></a></span>
							<div class="gongy_Rnr">
								<h1 class="juz_h2"><a href="">设计培训</a><b>已报名</b></h1>
								<span class="juz_shm">培训时间：2017.09.12 09:00</span>
								<span class="juz_shm">培训地点：天津市南开区华苑产业园区开华道10号智慧山南塔1804</span>
								<span class="juz_shm">报名时间：2017.08.22</span>
							</div>
						</div>
	
						<div class="gongy_list">
							<span class="gongy_tp"><a href=""><img src="images/tp.png" /></a></span>
							<div class="gongy_Rnr">
								<h1 class="juz_h2"><a href="">设计培训</a><b>已报名</b></h1>
								<span class="juz_shm">培训时间：2017.09.12 09:00</span>
								<span class="juz_shm">培训地点：天津市南开区华苑产业园区开华道10号智慧山南塔1804</span>
								<span class="juz_shm">报名时间：2017.08.22</span>
							</div>
						</div>
	
					<ul class="pagination">
						<li><a href="#">上一页</a></li>
						<li><a href="#" class="hover">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a>...</li>
						<li><a href="#">99</a></li>
						<li><a href="#">下一页</a></li>
					</ul>

	
	
</div>
</div>	
<!--尾部开始-->
<div class="footer">

</div>
<!--尾部end-->
	
<!--开票弹出层-->
<div class="tc_box">
	<div class="tc_box_con" style="width:780px;height:auto;margin-top:-400px; padding-bottom: 40px;">
    	<div class="close_tc">
    		<img src="images/Group 2.png"/>
    	</div>
    	<div class="tc_box_contitle">
        	开票信息
        </div>
        <div class="tc_box_tablelist2">
        	<div class="tc_box_tablelistname2">
            	企业名称：
            </div>
            <div class="tc_box_tablelistinput">
            	<input value="赛诺派（天津）网络技术有限公司" class="tc_ipnuts"/>
            </div>
        </div>
        <div class="tc_box_tablelist2">
        	<div class="tc_box_tablelistname2">
            	企业统一社会信用代码：
            </div>
            <div class="tc_box_tablelistinput">
            	<input value="08031874687655" class="tc_ipnutsa" id="inputPhoneVerifyCode"/>
            </div>
        </div>
		<div class="tc_box_tablelist2">
        	<div class="tc_box_tablelistname2">
            	收票人：
            </div>
            <div class="tc_box_tablelistinput">
            	<input value="张三" class="tc_ipnutsa" id="inputPhoneVerifyCode"/>
            </div>
        </div>
		<div class="tc_box_tablelist2">
        	<div class="tc_box_tablelistname2">
            	收票人手机号：
            </div>
            <div class="tc_box_tablelistinput">
            	<input value="13898261935" class="tc_ipnutsa" id="inputPhoneVerifyCode"/>
            </div>
        </div>
		<div class="tc_box_tablelist2">
        	<div class="tc_box_tablelistname2">
            	收票地址：
            </div>
            <div class="tc_box_tablelistinput">
				<select class="person_list_selects" style="width:80px;margin:0 0 10px 5px;">
				<option value="天津市">天津市</option>
				</select>
                <select class="person_list_selects" style="width:80px;margin:0 0 10px 5px;">
				<option value="天津市">天津市</option>
				</select>
            	<input value="华苑产业园区开华道10号智慧山南塔1804" class="tc_ipnutsa" id="inputPhoneVerifyCode" style="width:330px;float:none;"/>
            </div>
        </div>
		<div class="tc_box_tablelist2">
        	<div class="tc_box_tablelistname2">
            	邮编：
            </div>
            <div class="tc_box_tablelistinput">
            	<input value="300100" class="tc_ipnutsa" id="inputPhoneVerifyCode"/>
            </div>
        </div>
		<div class="tc_box_tablelist2">
        	<div class="tc_box_tablelistname2">
            	开票金额：
            </div>
            <div class="tc_box_tablelistinput">
				<b class="kp_jiage">160元</b>
            </div>
        </div>
		<button class="tc_btn" id="buttonRegister">完成</button>
    </div>
</div>
					
<script>
	$('.open_tca').click(function(){
		$('.tc_box').show();
		});
	$('.close_tc,.tc_btn').click(function(){
		$('.tc_box').hide();
		});
</script>
	
</body>
</html>