<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="toTop" content="true">
<link href="css/base.css" rel="stylesheet" type="text/css" />
<!--bootstrap框架↓-->
<link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<!--本页面CSS↓-->
<link rel="stylesheet" href="css/swiper.css">
<link rel="stylesheet" href="css/style.css">
<!--bootstrap框架↓-->
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.tabslet.min.js"></script>
</head>
<body>
<!--头部开始-->
<div class="Header">
    <dl class="Login_topdl">
		<dt>就业平台</dt>
		<dd><a href="">我是求职者</a> | <a href="">APP</a></dd>
	</dl>
</div>
<!--头部end-->
<div class="login_bg">
	<div class="login_box">
		<h1>登录</h1>
		<ul>
			<li><input type="text" id="inputAccount" class="login_text2" placeholder="手机/用户名"><span class="redfont">提示文字</span></li>
			<li><input type="text" id="inputPassword" class="login_pawd2" placeholder="密码"><a href="" class="xians_a">显示</a><span class="redfont">提示文字</span></li>
			<li><button id="buttonGetPhoneVerifyCode" class="log_zmm">忘记密码</button></li>
		</ul>
		<button class="login_btn" id="buttonRegister">登录</button>
		<p class="login_p">没有账号？<a href="">快速注册</a></p>
	</div>	
</div>	
<!--尾部开始-->
<div class="footer">

</div>
<!--尾部end-->
</body>
</html>