<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="toTop" content="true">
<link href="css/base.css" rel="stylesheet" type="text/css" />
<!--bootstrap框架↓-->
<link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<!--本页面CSS↓-->
<link rel="stylesheet" href="css/swiper.css">
<link rel="stylesheet" href="css/style.css">
<!--bootstrap框架↓-->
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.tabslet.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<!--头部开始-->
<div class="top_bg">
	   <div id="site-nav">
			<ul class="quick-menu">
				<li><a href="">消息</a><i>10</i>|</li>
			  <li><a href="">发布职位</a>|</li>
			  <li><a href="">简历管理</a>|</li>
			  <li><a href="">职位管理</a>|</li>
			  <li class="menu-item">
				  <div class=menu>
					  <a class=menu-hd href="#" >赛诺派<b></b></a> 
					  <div class=menu-bd>
						 <a href="#">认证信息</a>
						 <a href="#">个人信息</a>
						  <a href="#">企业信息</a>
						  <a href="#">账号设置</a>
						  <a href="#">退出登录</a>
					  </div>
				  </div>
			  </li>
		    </ul>
		</div>
<SCRIPT type=text/javascript>
	TB.Header.init();
</SCRIPT>
</div>
<div class="Header">
    <dl class="Login_topdl">
		<dt>就业平台</dt>
        <dd class="nav"><a href="/services/dispense/approveSuccess">首页</a><a href="">招聘</a><a href="/services/publicgood/query">公益</a><a href="/services/train/train">培训</a><a href="">政策</a><a href="">APP</a></dd>
	</dl>
</div>
<!--头部end-->
<div class="w1200">
<div class="main_fff">
			<dl class="zhiw_topdl">
				<dd>
					<h1><a href="#">产品经理</a><b>视频</b><span>5-8K</span></h1>
					<p>1年 本科 全职 天津</p>
					<h2><span>五险一金</span><span>节日福利</span><span>带薪年假</span></h2>
					<strong>1天前发布</strong>
				</dd>
				<dt><button class="person_fabuzw">下线职位</button></dt>
			</dl>
<div class="zhiw_tit">岗位职责：</div>
<ul class="zhiw_ul">
	<li>1、负责产品WEB端、移动端产品的UI设计与交互设计； </li>
	<li>2、负责推广所需视觉展现设计，包括banner绘制、宣传资料设计等；</li>
	<li>3、参与产品前期规划与设计，整理设计规范及相关文档； </li>
	<li>4、与产品经理及团队协同合作，促进产品的迭代与推广。</li>
</ul>
<div class="zhiw_tit">职位描述：</div>
<ul class="zhiw_ul">
	<li>1、负责产品WEB端、移动端产品的UI设计与交互设计； </li>
	<li>2、负责推广所需视觉展现设计，包括banner绘制、宣传资料设计等；</li>
	<li>3、参与产品前期规划与设计，整理设计规范及相关文档； </li>
	<li>4、与产品经理及团队协同合作，促进产品的迭代与推广。</li>
</ul>
<div class="zhiw_tit">工作地址：</div>
<ul class="zhiw_ul">
	<li>天津红桥区光荣道宝能创业中心A座24层<a href="" class="bluefont">查看地图</a></li>
</ul>
	
</div>
</div>
<!--尾部开始-->
<div class="footer">

</div>
<!--尾部end-->
	
</body>
</html>