<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%
String path = request.getContextPath();
String basePath = request.getScheme()+"://"+request.getServerName()+":"+request.getServerPort()+path+"/";
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<%@ include file="messageCount.jsp" %>
<title>面试窗口</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css" />
<!--bootstrap框架↓-->
<link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<!--本页面CSS↓-->
<link rel="stylesheet" href="/static/css/swiper.css">
<link rel="stylesheet" href="/static/css/style.css">
<!--bootstrap框架↓-->
<script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/jquery.tabslet.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/iLiveSDK.js"></script>
<script type="text/javascript" src="/static/js/video.js"></script>
<script type="text/javascript" src="/static/js/videochrome.js"></script>
<script type="text/javascript" src="/static/js/util.js"></script>
<script type="text/javascript" src="/static/js/WebRTCAPI.min.js"></script>
<style>
	.resumeDetailsBaseLeft{text-align:right;width:auto;height:40px;min-width: 100px;line-height:40px;font-size:16px;white-space: nowrap;}
	.resumeDetailsBaseRight{text-align:left;width:auto;height:40px;font-size:16px;padding-right:17px;line-height:40px;white-space: nowrap;}
	.longToo{min-width:100%;width:auto;overflow-x:auto;padding-left:20px;}
	.longToo::-webkit-scrollbar { width:0px;height:5px; }
	.longToo::-webkit-scrollbar-button    {background-color:#fff;}
	.longToo::-webkit-scrollbar-track { background:#fff;}
	.longToo::-webkit-scrollbar-thumb{background:#9B9B9B;border-radius:4px;}
	.longToo::-webkit-scrollbar-corner {background:#82AFFF;}
	.longToo::-webkit-scrollbar-resizer  {background:#FF0BEE;}
</style>
</head>
<body style="height:100%!important;width:100%; overflow:auto; margin:0;padding:0">
	<!--头部开始-->
<jsp:include page="toppage.jsp"></jsp:include>
	<div class="Header" id="nav2">
	    <dl class="Login_topdl">
			<dt style="margin-top:9px;"><img src="../../../static/images/logo.png" style="width:111px;height:43px;"></dt>
			<dd class="nav" style="padding-left:20px;"><a href="/mcbn/services/dispense/approveSuccess">首页</a><a href="/mcbn/services/resume/pushResume">招聘</a><a href="/mcbn/services/publicgood/query">公益</a><a href="/mcbn/services/train/train">培训</a><a href="/mcbn/services/policy/policy">政策</a><a href="">APP</a></dd>
		</dl>
	</div>
	<!--头部end-->
	<script>
		var pageHeight =  document.body.clientHeight-$("#nav1").height()-$('#nav2').height();
		$("#videoPage").css('height',pageHeight);
	</script>
	<div style="position:relative;height:700px;" id="videoPage">
	<div class="shipL" style="height:100%;overflow-y:auto;position:absolute;left:0px;top:0px;">
			<div class="jianlxx_top1" >${resumeResult.btruName}的简历</div>
			<div class="jianlxx_tx" style="margin:32px auto;">
				<img src="/images/${resumeResult.headImage}" style="width:89px;height:89px;margin:0 auto;margin-bottom:16px;"/>
		    	<h1>${resumeResult.btruName}</h1><p id="p1"></p>
			</div>
			<div id="isVideo" style='display:none'>
				<div class="jianlxx_bt"><span>视频简历</span></div>
				<div class="swiper_video" style='width:auto;tex-align:center;'><video src="${resumeResult.video}" controls="controls" id="media" poster="${resumeResult.videoImage}" style="height:500px;display:block;width:auto;margin: 0 auto;" ></video></div>
			</div>
			
			<div class="jianlxx_bt"><span>个人信息</span></div>
			<div class="longToo">
			<table class="jianlxx_ziliao" style="min-width: 650px;width:auto;">
				<tr>
					<td class="resumeDetailsBaseLeft">血型：</td>
					<td class="resumeDetailsBaseRight">${resumeResult.bloodTypeName}</td>
					<td class="resumeDetailsBaseLeft">属相：</td>
					<td class="resumeDetailsBaseRight">${resumeResult.chineseZodiacName}</td>
					<td class="resumeDetailsBaseLeft">星座：</td>
					<td class="resumeDetailsBaseRight">${resumeResult.zodiacName}</td>
				</tr>
					<tr>
					<td class="resumeDetailsBaseLeft">出生年月：</td>
					<td class="resumeDetailsBaseRight">${resumeResult.birthdayString}</td>
					<td class="resumeDetailsBaseLeft">工作年限：</td>
					<td class="resumeDetailsBaseRight">${resumeResult.workTime}</td>
					<td class="resumeDetailsBaseLeft">所在城市：</td>
					<td class="resumeDetailsBaseRight">${resumeResult.address}</td>
				</tr>
				<tr>
					<td class="resumeDetailsBaseLeft">婚姻状况：</td>
					<td class="resumeDetailsBaseRight">${resumeResult.maritalStatusName}</td>
					<td class="resumeDetailsBaseLeft">联系电话：</td>
					<td class="resumeDetailsBaseRight" id="phone">下载后显示</td>
					<td class="resumeDetailsBaseLeft">联系邮箱：</td>
					<td class="resumeDetailsBaseRight" id="email">下载后显示</td>
				</tr>
			</table>
			</div>
			<div class="jianlxx_bt"><span>求职意向</span></div>
			<div class='longToo'>
			<table class="jianlxx_ziliao" style="min-width: 650px;width:auto;">
				<tr>
					<td class="resumeDetailsBaseLeft" style="">期望行业类型：</td>
					<td class="resumeDetailsBaseRight">${resumeResult.wiName}</td>
					<td class="resumeDetailsBaseLeft">期望薪资：</td>
					<td class="resumeDetailsBaseRight">${resumeResult.salary}</td>
					<td class="resumeDetailsBaseLeft">期望工作：</td>
					<td class="resumeDetailsBaseRight">${resumeResult.ppName}</td>
				</tr>
					<tr>
					<td class="resumeDetailsBaseLeft">期望职位类型：</td>
					<td class="resumeDetailsBaseRight">${resumeResult.btujiwptName}</td>
					<td class="resumeDetailsBaseLeft">期望城市：</td>
					<td class="resumeDetailsBaseRight">${resumeResult.workCityName}</td>
					<td class="resumeDetailsBaseLeft">目前状态：</td>
					<td class="resumeDetailsBaseRight">${resumeResult.workStatusName}</td>
				</tr>
				<tr>
					<td class="resumeDetailsBaseLeft">期望工作性质：</td>
					<td colspan="5" class="resumeDetailsBaseRight">${resumeResult.jobCategoryName}</td>
				</tr>
			</table>
			</div>
			<div class="jianlxx_bt"><span>工作经历</span></div>
	
			  <c:forEach items="${resumeResult.workExperienceList}" var="workExperience" varStatus="vs">
				<div class="jianlxx_con">
					<h1 style='font-size:16px;'><c:out value="${workExperience.pName}"></c:out> | <c:out value="${workExperience.companyName}"></c:out></h1>
					<p><c:out value="${workExperience.startWorkDateString}"></c:out>-<c:out value="${workExperience.endWorkDateString}"></c:out></p>
					<ul>
					<li>工作内容：</li>
				    <li class="hzh"><c:out value="${workExperience.jobDescription}"></c:out> </li>

					</ul>
				</div> 
			</c:forEach>   
			<div class="jianlxx_bt"><span>教育经历</span></div>
			<c:forEach items="${resumeResult.educationExperienceList}" var="educationExperience" varStatus="vs">
			<div class="jianlxx_con">
				<h2 style='font-size:16px;'><c:out value="${educationExperience.jobsUniversity}"></c:out><span><c:out value="${educationExperience.educationExperienceStartDateString}"></c:out>-<c:out value="${educationExperience.educationExperienceEndDateString}"></c:out></span></h2>
				<ul>
				<li><c:out value="${educationExperience.major}"></c:out> | <c:out value="${educationExperience.degreeLevel}"></c:out></li>
				</ul>
			</div>
			</c:forEach>   
			<div class="jianlxx_bt"><span>备注信息</span></div>
			<div class="jianlxx_con">
				<ul>
				<li class="hzh">${resumeResult.selfComment}</li>
				</ul>
			</div>
	</div>
		<div id="showVideoDiv" style="position:absolute;right:0px;top:0px;width: 50%;height:60%;float:inherit;background:#000;">
				<div style="width: 60%;height:100%;float:left;text-align: center;position: relative;" >
					<video  id="iLiveSDKCom"  style="height:auto;max-height:100%;max-width: 100%;width:auto;margin: auto;position: absolute;top: 0;left: 0;bottom: 0;right: 0;" >
						<source id="video1" src=""  type="video/mp4">
					</video >
				</div>
				<div style="width: 40%;height:100%;float:right;position: relative;text-align: center;" >
					<video id="localRender" autoplay="autopaly"  style="height:auto;max-height:100%;max-width: 100%;width:auto;margin: auto; position: absolute;top: 0;left: 0;bottom: 0;right: 0;">
						<source id="video2" src=""   type="video/mp4">
					</video >
				</div>
		</div>
		<div class="xship_wenzi" id="interviewComment" style="position:absolute;right:0px;bottom:0px;height:40%;overflow-y:auto;padding:21px 22px;line-height:22px;font-size:16px;color:#3D3D3D;width:50%;">
		暂无面试记录！
		</div>
	</div>

	<script type="text/javascript">
		function showTime(id, wait) {
		  if (wait == 0){	
			document.getElementById(id).play();
		  }else{ 
			   wait--;
			   setTimeout(function() {
				showTime(id, wait);
			   },
			   1000)
			}
		}

	</script>
	<!--尾部开始
	<div class="footer">
	<jsp:include page="footerpage.jsp"></jsp:include>
	</div>-->
	<script type="text/javascript">
		$(function(){
            $(".hzh").each(function(){
                $(this).html($(this).text());
            })
            var trs = [];
            if ('${resumeResult.sex}' != ""){
                trs.push('${resumeResult.sex}');
            }
            if ('${resumeResult.age}' != ""){
                trs.push('${resumeResult.age}');
            }
            if ('${resumeResult.address}' != ""){
                trs.push('${resumeResult.address}');
            }
            if ('${resumeResult.degreeLevel}' != ""){
                trs.push('${resumeResult.degreeLevel}');
            }
            if ('${resumeResult.weName}' != ""){
                trs.push('${resumeResult.weName}');
            }
            $("#p1").text(trs.join("|"));
			videoUrl = '${resumeResult.video}'
			auditStatus = '${resumeResult.auditStatus}'
			if (videoUrl != ''){
				if (auditStatus == 102651){
					$("#isVideo").css('display','block');
				}
			} 
			$("#phone").html("${resumeResult.phone}");
			$("#email").html("${resumeResult.email}");
            var idata = {};
            idata.clientType = 102500;
            idata.companyId="${companyId}";
            idata.positionId="${positionId}";
            idata.btUserId='${resumeResult.b2cTerminalUserId}';
            ajax(("/mcbn/services/user/getVideoInterview"), idata, function (returnData1) {
                if(returnData1.resultCode == 1){
                    $("#iLiveSDKCom")[0].outerHTML='<video  id="iLiveSDKCom"  style="height:auto;max-height:100%;max-width: 100%;width:auto;margin: auto;position: absolute;top: 0;left: 0;bottom: 0;right: 0;" >' +
                        '<source id="video1" src="'+returnData1.datas[0].jobSeekerVideo+'"  type="video/mp4"></video >';
                    $("#localRender")[0].outerHTML='<video id="localRender" autoplay="autopaly"  style="height:auto;max-height:100%;max-width: 100%;width:auto;margin: auto; position: absolute;top: 0;left: 0;bottom: 0;right: 0;">\n' +
                        '<source id="video2" src="'+returnData1.datas[0].interviewerVideo+'"   type="video/mp4"></video >';
                    showTime("localRender",1);
					$("#interviewComment").html(returnData1.datas[0].interviewComment);
                    showTime("iLiveSDKCom",returnData1.datas[0].timeDiffer+1);
                }
            });
		})

        function sendComplete(stat) {
            var tzdata = {};
            tzdata.clientType = "102500";
            tzdata.b2cTerminalUserId="${resumeResult.b2cTerminalUserId}";
            tzdata.roomId=g_roomId;
            tzdata.status=stat;
            tzdata.positionId="${positionId}";
            ajax(("${servicefix}/services/connect/room/create/complete"), tzdata, function (result) {
            });
        }

        function jingyin(){
            if($("#ht").hasClass("xiao_shipjy")){
                $("#ht").removeClass("xiao_shipjy");
                if(browesType=="1") {
                    OnBtnOpenMic();
                } else if(browesType=="2") {
                    WebRTCAPI.openAudio();
                }
            } else {
                $("#ht").addClass("xiao_shipjy");
                if(browesType=="1") {
                    OnBtnCloseMic();
                } else if(browesType=="2") {
                    WebRTCAPI.closeAudio();
                }
            }
        }
        function waifang(){
            if($("#yx").hasClass("xiao_shipjf")){
                $("#yx").removeClass("xiao_shipjf");
                if(browesType=="1") {
                    OnBtnOpenPlayer();
                } else {
                    WebRTCAPI.openAudio();
                }
            } else {
                $("#yx").addClass("xiao_shipjf");
                if(browesType=="1") {
                    OnBtnClosePlayer();
                } else {
                    WebRTCAPI.closeAudio();
                }
            }
        }
        function exitsp(){
            if(browesType=="1") {
                OnUninit();
            } else {
                onWebSocketClose();
            }
            var lrdata = {};
            lrdata.clientType = "102500";
            lrdata.roomId=g_roomId;
            ajax(("${servicefix}/services/connect/room/left"), lrdata, function (result) {
                if(result.resultCode == 1){
                    g_userSig = result.datas[0];
                    OnInit();
                }
            });
        }
	</script>
	
	<script>
		var pageHeight =  $(window).height() - $("#nav1").height() - $('#nav2').height()-10;
		$("#videoPage").css('height',pageHeight);
	</script>
</body>

</html>